*.o
*.map
*.exe

empty.h
putty-src.zip

charset/sbcsdat.c
doc/*.1
doc/*.html
doc/putty.chm
doc/putty.cnt
doc/putty.hhc
doc/putty.hhk
doc/putty.hhp
doc/putty.hlp
doc/puttydoc.txt
macosx/Makefile
unix/.deps
unix/Makefile
unix/Makefile.am
unix/Makefile.gtk
unix/Makefile.in
unix/Makefile.ux
unix/aclocal.m4
unix/autom4te.cache
unix/config.log
unix/config.status
unix/configure
unix/depcomp
unix/install-sh
unix/libversion.a
unix/missing
unix/plink
unix/pscp
unix/psftp
unix/pterm
unix/putty
unix/puttygen
unix/puttytel
unix/stamp-h1
unix/uxconfig.h
unix/uxconfig.in
windows/DEVCPP
windows/MSVC
windows/Makefile.bor
windows/Makefile.cyg
windows/Makefile.lcc
windows/Makefile.vc
windows/PuTTY.wxs
windows/mkMakefile.pl
